<div ng-if="myInfoCtrl.hasUser">
	<h1>My Info</h1>
	<p>First Name: {{myInfoCtrl.user.firstname}}</p><br>
	<p>Last Name: {{myInfoCtrl.user.lastname}}</p><br>
	<p>Phone Number: {{myInfoCtrl.user.phone}}</p><br>
	<p>Email Address: {{myInfoCtrl.user.email}}</p><br>

	<br>

	<h1>My Menu Item</h1>
	<br>
	<img class="img-responsive" width="250" height="150" ng-src="https://damp-hamlet-14078.herokuapp.com/images/{{myInfoCtrl.user.menuItem.short_name}}.jpg" alt="{{$myInfoCtrl.user.menuItem.short_name}}">
	<br>
	<p>{{myInfoCtrl.user.menuItem.name}}</p><br>
	<p>{{myInfoCtrl.user.menuItem.description}}</p><br>
</div>

<div ng-if="!myInfoCtrl.hasUser">
	<a ui-sref="private.signup">Not Signed Up Yet. Sign up Now!</a>
</div>